<!doctype html>
<html>

<head>
  <title>Project - Python with GCP</title>

<body>
  <style>
    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Helvetica, sans-serif;
      background-color: #ffffff;
    }
  </style>
  <center>
    <h2>TEAM 6</h2>
    <br>
    <h2>FRACTALS USING CLOUD FUNCTIONS</h2>
    <br>
    <h3>Fractal Quilt</h3>
    <br>
    <a href="https://storage.googleapis.com/gcp-cf-fractal/Fractal%20Quilt%20LOW.png">LOW</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://storage.googleapis.com/gcp-cf-fractal/Fractal%20Quilt%20HIGH.png">HIGH</a>
    <br><br>
    <h3>Harter-Heighway Dragon</h3>
    <br>
    <a href="https://storage.googleapis.com/gcp-cf-fractal/Harter-Heighway%20Dragon%20LOW.png">LOW</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://storage.googleapis.com/gcp-cf-fractal/Harter-Heighway%20Dragon%20HIGH.png">HIGH</a>
    <br><br>
    <h3>Koch Snowflake</h3>
    <br>
    <a href="https://storage.googleapis.com/gcp-cf-fractal/Koch%20Snowflake%20LOW.png">LOW</a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://storage.googleapis.com/gcp-cf-fractal/Koch%20Snowflake%20HIGH.png">HIGH</a>
  </center>
</body>

</html>